html,body{
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

/* this part is for the container */

.container{
    display: grid;
    grid-template-areas: "header header"
                            "content content"
                            "footer footer";
    grid-template-rows: 1fr;
}

/* Header css code */

.header{
    grid-area: header;
}

.header-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    color: white;
    align-items: center;
}
.header-logo{
    width: 40vw;
}
.header-logo img{
    width: 20rem;
}
.header-menu{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 2.5rem;
    font-size: x-large;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
.header-menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 300;
}
.header-right-btn{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #060606;
    width: max-content;
    margin-left: 150px;
}
.header-right{
    justify-self: center;
}
button.Sidebar{
    display: none;
}
#sidebar-toggle:checked ~ .header-menu{
    display: grid;
    height: auto;
        transition: max-height 2.5s ease, opacity 0.4s ease;
}

/* Content css code */

.content{
    grid-area: content;
}

/* Home css code */

.zakarya-banner{
    display: grid;  
    background-image: url(images/header-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: aliceblue;
    justify-content: start;
    padding-left: 10%;
    align-items: center;
    grid-auto-flow: column;
}
.zakarya-banner-content{
    display: grid;
    grid-auto-flow: row;
    font-family: 'Orbitron';
    width: 65%;
}
.zakarya-banner-title{
    font-size: 3rem;
    font-weight: bold;
}
.zakarya-banner-subtitle{
    font-size: 2rem;
    font-weight: 400;
}
.zakarya-banner-btn{
    background-color: #0F62FE;
    border:none;
    font-weight: 300;
    font-family: 'Orbitron';
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}
.zakarya-title{
    font-family: 'Orbitron';
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: #404040;
    margin-top: 100px;
    margin-bottom: 100px;
}
.zakarya-CosmicExplore{
    display: grid; 
    grid-template-columns: repeat(3 , 1fr);
    justify-items: center;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 100px;
}
.zakarya-CosmicExplore-card{
    background-color: #2B2525;
    box-shadow: 5px 5px 15px 5px #999999;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    color: #ffffff;
    font-family: 'Roboto';
}
.zakarya-CosmicExplore-card-img img{
    width: 350px;
    border-radius: 10px;
}
.zakarya-CosmicExplore-card-content{
    padding: 5px;
    font-weight: bold;
}
.zakarya-card-title{
    font-size: 1.8rem;
}
.zakarya-evenements{
    justify-items: center;
    margin-left: 16%;
    margin-right: 16%;
}
.zakarya-evenements-wide-cards{
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}

.zakarya-evenements-wide-cards-img ,.zakarya-evenements-wide-cards-img img{
    width: 500px;
    height: 400px;
}
.zakarya-evenements-wide-cards-content{
    color: #ffffff;
}

/* categorie chaimaa css code */


.content{
    grid-area: content;
    margin: 0;
    padding: 0;
}
.chaima-discover-secction1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;
    gap: 4rem;
    background-image: url(images/image\ 1.png);
    background-position: center;
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
    color: white;
   
}

.chaima-discover-text{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    gap: 5rem;
}
.chaima-discover-text h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}
.chaima-discover-section2{
    display: grid;
    grid-template-rows: repeat(3 ,1fr);
    gap: 4rem;
    padding: 3rem;
    text-align: center;
    color: black;
    background-color: rgb(251, 251, 251);
    height: 15rem;

}
.chaima-discover-section2 h2{
    font-size: 3rem;
    font-family: orditron", sans-serif;
}
.chaima-discover-section2 p{
    font-size: 1.5rem;
    margin: 0;
}
.chaima-discover-section3{
    display: grid;
    /* grid-template-rows: repeat(5,1fr);
    gap: 4rem; */
    text-align: center;
    background-color: black;
    color: white;
    padding: 5rem;
}
.chaima-discover-section3 h3{
    font-size: 3rem;
    font-family: "Orbitron", sans-serif;
}
.chaima-discover-section3 p{
    font-size: 1.5rem;
    margin: 0;
}
.chaimaa-menu{
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    border-top: black 2px solid;
}
.chaimaa-menu ul{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 1.2rem;
}
.chaimaa-menu ul a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.chaimaa-menu ul a:hover{
    text-decoration: underline;}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.texte{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    height: 20rem;
}
.card a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-top: 4rem;
}
.card a:hover{
    text-decoration: underline;
    
}
.chaima-discover-section4{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 5rem;
    text-align: center;
    color: rgb(253, 251, 251);
    background-image:url(images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:7rem  ;
    height: 20rem;
    margin-bottom: 20rem;
}
.chaima-discover-section4 h1{
    font-size: 3rem;
}
.chaima-discover-section4 p{
    font-size: 1.5rem;
    margin: 0;
}
.chaima-discover-section4-btn{
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    justify-self: center;}



@media (max-width: 480px) {
    

  .chaima-discover-secction1 {
    margin: 0px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 90vh;
    padding: 5rem 2rem;
  }

  .chaima-discover-text {
    gap: 3rem;
    padding: 3rem;
    align-self: center;
  }

  .chaima-discover-text h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
  }
  .chaima-discover-text p{
    font-size: 2rem;
    margin: 0;
}
.chaima-discover-section2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    color: black;
    background-color: rgb(251, 251, 251);
    height: 50vh;
}
.texto h2{
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
}
.texto p{
    font-size: 2rem;
}
.chaima-discover-section3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;



}
.chaima-discover-section3 h3{
    font-family: "Orbitron", sans-serif;
}
.chaima-discover-section3 h2{
    font-size: 3rem;
    font-family: "Orbitron", sans-serif;
}
.chaima-discover-section3 p{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.chaima-discover-section3 img{
    width: 80%; 
    height:80%; 
    border-radius: 10px;  
}
.chaima-discover-section3 a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}
.chaima-discover-section4{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    color: rgb(253, 251, 251);
    background-image:url(images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:7rem  ;
    height: 30rem;
    margin-bottom: 20rem;
    font-family: 'Orbitron', sans-serif;
}
.chaima-discover-section4 h1{
    font-size: 3rem;}
.chaima-discover-section4 p{
    font-size: 2rem;
}
.chaima-discover-section4-btn{
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    justify-self: center;
   

}
.cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;

}

.chaimaa-menu{
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    border-top: black 2px solid;
}
.chaimaa-menu ul{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 1.2rem;
}
.chaimaa-menu ul a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.chaimaa-menu ul a:hover{
    text-decoration: underline;


}

}


/*end chaimaa css code */


/* Oussama-inscription CSS */
.Oussama-Informations{
    padding: 50px 200px;
    margin: 50px 200px;
    border-radius: 20px;
    background-color: azure;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 10px 10px 20px  blue ;
    
}
.Oussama-fname{
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
}
.Oussama-femail{
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
}
.Oussama-fdate{
    grid-column: 1/2;
    justify-content: center;
    align-items: center;
}
.Oussama-fLocalisation{
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
}
#Oussama-fdate{
    color: aliceblue;
    width: 100%;
    height: 40px;
    background-color: black;
    border: solid 5px blue;
    border-radius: 10px;
}
#Oussama-fLocalisation{
    color: aliceblue;
    width: 100%;
    height: 50px;
    background-color: black;
    border: solid 5px blue;
    border-radius: 10px;
}

#Oussama-fname , #Oussama-femail {
    color: aliceblue;
    width: 100%;
    height: 40px;
    background-color: black;
    border: solid 5px blue;
    border-radius: 10px;
}
.Oussama-discvoer-container{
    margin: 20px;
    background-image: url(images/Paz\ repousando\ sobre\ a\ terra_✨🕊.jpeg);
    height: 700px;
    border-radius: 30px;
    padding: 20px;
}
.Oussama-experience{
    padding: 50px 50px 50px 100px;
    margin: 50px 200px;
    border-radius: 20px;
    background-color: azure;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    box-shadow: 10px 10px 20px  blue ;
}

.Oussama-Centres{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Oussama-Niveau{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.Oussama-Centres h3 , .Oussama-Niveau h3{
    color: blue;
    font-weight: bold;
}
input{
    accent-color: black;
}
.Oussama-discvoer-container2{
    margin: 20px;
    border-radius: 20px;
    height: 700px;
    background-image: url(images/pexels-pixabay-256379.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
.Oussama-abonnement1{
    justify-items: center;
    border-radius: 20px;
    background-color: aliceblue;
    height: 30rem;
    box-shadow: 10px 10px 20px  blue ;
}
.Oussama-abonnement2{
    justify-items: center;
    border-radius: 20px;
    background-color: aliceblue;
    height: 30rem;
    box-shadow: 10px 10px 20px  blue ;
}
.Oussama-abonnement3{
    justify-items: center;
    border-radius: 20px;
    background-color: aliceblue;
    height: 30rem;
    box-shadow: 10px 10px 20px  blue ;
}
.Oussama-abonnement1 h2{
    color: blue;

}
.Oussama-abonnement2 h2{
    color: blue;
}
.Oussama-abonnement3 h2{
    color: blue;
}

.Oussama-discvoer-container2 button{
    width: 10rem;
    height: 3rem;
    border-radius: 10rem;
    color: white;
    font-weight: bold;
    background-color: #0F62FE;
}




.footer{
    margin: 0;
    grid-area: footer;
    /* height: 482px; */
}
.footer-container{
    background-color: aliceblue;
    padding: 7rem;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
}
.footer-container img{
    width: 350px;
}
.footer-cards a{
    text-decoration: none;
    color: #1f1f1f;
    font-size: larger;
}

@media (max-width: 768px) {

    /* Header css code */

    .header-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .header-menu{
        grid-auto-flow: row;
        height: 0;
        overflow: hidden;
        gap: 0;
    }
    .header-menu li{
        border-top: 1px solid #00000075;
        text-align: center;
        padding: 15px;
    }
    .header-logo{
        display: grid;
        grid-auto-flow: column;
        align-self: center;
        width: auto;
    }
    .header-menu a{
        font-weight: 600;
    }
    label.Sidebar{
        display: grid;
        font-size: xx-large;
        align-content: center;
        background-color: #06060600;
        color: #000000;
        border:none;
    }
    #header-right-btn-li {
        display: none;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .header-right-btn{
        display: none;
    }
    .header-right{
        justify-self: center;
        padding-top: 20px;
    }

    /* Home css code */

    .zakarya-banner{
        grid-auto-flow: row;
        height: 780px;
    }
    .zakarya-banner-content{
        width: 80%;
    }
    .zakarya-CosmicExplore{
        display: grid; 
        grid-template-columns: 1fr;
        row-gap: 30px;
        grid-template-rows: repeat(3 , 1fr);
        justify-items: center;
        margin-top: 100px;
    }
    body{
        scroll-behavior: smooth;
    }



    .footer-container{
    grid-auto-flow: row;
    }

    sdahasdajds
    asdhasjdkajd
    asijdajhdsad




































    saudiaklhdsgbakhd



    adhaskdha
}
