html,body{
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

/* this part is for the container */

.container{
    display: grid;
    grid-template-areas: "header header"
                            "content content"
                            "footer footer";
    grid-template-rows: 1fr;
}

/* Header css code */

.header{
    grid-area: header;
}

.header-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    color: white;
    align-items: center;
}
.header-logo{
    width: 40vw;
}
.header-logo img{
    width: 20rem;
}
.header-menu{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 2.5rem;
    font-size: x-large;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
.header-menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 300;
}
.header-right-btn{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #060606;
    width: max-content;
    margin-left: 150px;
}
.header-right{
    justify-self: center;
}
button.Sidebar{
    display: none;
}
#sidebar-toggle:checked ~ .header-menu{
    display: grid;
    height: auto;
        transition: max-height 2.5s ease, opacity 0.4s ease;
}

/* Content css code */

.content{
    grid-area: content;
}

/* Home css code */

.zakarya-banner{
    display: grid;  
    background-image: url(images/header-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: aliceblue;
    justify-content: start;
    padding-left: 10%;
    align-items: center;
    grid-auto-flow: column;
}
.zakarya-banner-content{
    display: grid;
    grid-auto-flow: row;
    font-family: 'Orbitron';
    width: 65%;
}
.zakarya-banner-title{
    font-size: 3rem;
    font-weight: bold;
}
.zakarya-banner-subtitle{
    font-size: 2rem;
    font-weight: 400;
}
.zakarya-banner-btn{
    background-color: #0F62FE;
    border:none;
    font-weight: 300;
    font-family: 'Orbitron';
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}
.zakarya-title{
    font-family: 'Orbitron';
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: #404040;
    margin-top: 100px;
    margin-bottom: 100px;
}
.zakarya-CosmicExplore{
    display: grid; 
    grid-template-columns: repeat(3 , 1fr);
    justify-items: center;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 100px;
}
.zakarya-CosmicExplore-card{
    background-color: #2B2525;
    box-shadow: 5px 5px 15px 5px #999999;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    color: #ffffff;
    font-family: 'Roboto';
}
.zakarya-CosmicExplore-card-img img{
    width: 350px;
    border-radius: 10px;
}
.zakarya-CosmicExplore-card-content{
    padding: 5px;
    font-weight: bold;
}
.zakarya-card-title{
    font-size: 1.8rem;
}
.zakarya-evenements{
    justify-items: center;
    margin-left: 16%;
    margin-right: 16%;
}
.zakarya-evenements-wide-cards{
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}

.zakarya-evenements-wide-cards-img ,.zakarya-evenements-wide-cards-img img{
    width: 500px;
    height: 400px;
}
.zakarya-evenements-wide-cards-content{
    color: #ffffff;
}


.footer{
    margin: 0;
    grid-area: footer;
    height: 482px;
}
.footer-container{
    background-color: aliceblue;
    padding: 7rem;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
}
.footer-container img{
    width: 350px;
}
.footer-cards a{
    text-decoration: none;
    color: #1f1f1f;
    font-size: larger;
}

@media (max-width: 768px) {

    /* Header css code */

    .header-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .header-menu{
        grid-auto-flow: row;
        height: 0;
        overflow: hidden;
        gap: 0;
    }
    .header-menu li{
        border-top: 1px solid #00000075;
        text-align: center;
        padding: 15px;
    }
    .header-logo{
        display: grid;
        grid-auto-flow: column;
        align-self: center;
        width: auto;
    }
    .header-menu a{
        font-weight: 600;
    }
    label.Sidebar{
        display: grid;
        font-size: xx-large;
        align-content: center;
        background-color: #06060600;
        color: #000000;
        border:none;
    }
    #header-right-btn-li {
        display: none;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .header-right-btn{
        display: none;
    }
    .header-right{
        justify-self: center;
        padding-top: 20px;
    }

    /* Home css code */

    .zakarya-banner{
        grid-auto-flow: row;
        height: 780px;
    }
    .zakarya-banner-content{
        width: 80%;
    }
    .zakarya-CosmicExplore{
        display: grid; 
        grid-template-columns: 1fr;
        row-gap: 30px;
        grid-template-rows: repeat(3 , 1fr);
        justify-items: center;
        margin-top: 100px;
    }
    body{
        scroll-behavior: smooth;
    }


    .footer-container{
    grid-auto-flow: row;
    }
}