html,body{
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

/* this part is for the container */

.container{
    display: grid;
    grid-template-areas: "header header"
                            "content content"
                            "footer footer";
    grid-template-rows: 1fr;
}





/* Header css code */

.header{
    grid-area: header;
}

.header-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    color: white;
    align-items: center;
}
.header-logo{
    width: 40vw;
}
.header-logo img{
    width: 20rem;
}
.header-menu{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 2.5rem;
    font-size: x-large;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
.header-menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 300;
}
.header-right-btn{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #060606;
    width: max-content;
    margin-left: 150px;
}
.header-right{
    justify-self: center;
}
button.Sidebar{
    display: none;
}
#sidebar-toggle:checked ~ .header-menu{
    display: grid;
    height: auto;
        transition: max-height 2.5s ease, opacity 0.4s ease;
}

/* Content css code */

.content{
    grid-area: content;
}

/* Home css code */

.home-banner{
    display: grid;  
    background-image: url(images/header-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: aliceblue;
    justify-content: start;
    padding-left: 10%;
    align-items: center;
    grid-auto-flow: column;
}

.home-inner-container{
    background-color: #9999993a;
}
.home-banner-content{
    display: grid;
    grid-auto-flow: row;
    font-family: 'Orbitron';
    width: 65%;
}
.home-banner-title{
    font-size: 3rem;
    font-weight: bold;
}
.home-banner-subtitle{
    font-size: 2rem;
    font-weight: 400;
}
.home-banner-btn{
    background-color: #0F62FE;
    border:none;
    font-weight: 300;
    font-family: 'Orbitron';
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}
.home-title{
    font-family: 'Orbitron';
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: #404040;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
}
.home-CosmicExplore{
    display: grid; 
    grid-template-columns: repeat(3 , 1fr);
    justify-items: center;
    margin-left: 14%;
    margin-right: 14%;
}
.home-CosmicExplore-card{
    background-color: #2B2525;
    box-shadow: 5px 5px 15px 5px #999999;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    color: #ffffff;
    font-family: 'Roboto';
}
.home-CosmicExplore-card-img img{
    width: 350px;
    border-radius: 10px;
}
.home-CosmicExplore-card-content{
    padding: 5px;
    font-weight: bold;
}
.home-card-title{
    font-size: 1.8rem;
}
.home-evenements{
    justify-items: center;
    width: 100%;
}
.home-evenements-container{
    width: 1500px;
}
.home-evenements-wide-cards{
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    margin-bottom: 40px;
}


.home-evenements-wide-cards-img ,.home-evenements-wide-cards-img img{
    width: 500px;
    height: 400px;
}
.home-evenements-wide-cards-content{
    display: grid;
    color: #ffffff;
    align-items: center;
}
.home-evenements-title{
    font-size: 25px;
    font-weight: bold;
}
.home-evenements-small-cards{
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    padding-bottom: 50px;
}
.home-evenements-small-cards-content{
    background-color: white;
    padding: 30px;
}
.home-FAQ{
    display: grid;
    justify-items: center;
    grid-auto-flow: row;
}
.home-FAQ-cards{
    background-color: white;
    border: 0.2px solid #6d6d6d79;
    width: 1300PX;
    margin-bottom: 40px;
}
.home-FAQ-cards .Sidebar{
    width: 150px;
}
.home-FAQ-cards-title{
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    padding: 5px 0px 5px 25px;
}
.home-FAQ-cards-Description{
    display: none;
    transition: 2s ease-in-out;
    padding: 20px;
    background-color: #D9D9D9;
}
.home-FAQ-subtitle{
    font-weight: bold;
    font-size: large;
    color: #4C4C4C;
}
#dropdown-Faq-1:checked ~ .ZFCD-1{
    display: grid;
    height: auto;
    transition: max-height 2.5s ease, opacity 0.4s ease;
}
#dropdown-Faq-2:checked ~ .ZFCD-2{
    display: grid;
    height: auto;
    transition: max-height 2.5s ease, opacity 0.4s ease;
}
#dropdown-Faq-3:checked ~ .ZFCD-3{
    display: grid;
    height: auto;
    transition: max-height 2.5s ease, opacity 0.4s ease;
}
#dropdown-Faq-4:checked ~ .ZFCD-4{
    display: grid;
    height: auto;
    transition: max-height 2.5s ease, opacity 0.4s ease;
}
#dropdown-Faq-5:checked ~ .ZFCD-5{
    display: grid;
    height: auto;
    transition: max-height 2.5s ease, opacity 0.4s ease;
}
.home-newslater{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.home-newslater-subtitle{
    font-size: large;
    font-weight: 600;
    line-height: 0;
}
.home-newslater-title{
    font-weight: bold;
    line-height: 0;
    font-size: 35px;
}
.home-newslater-input-email{
    background-color: #F2F4F8;
    padding: 15px;
    width: 350px;
    border: none;
    box-shadow: 2px 2px 15px 1px #5c5c5c2f;
    border: 0.1px solid #29292946;
}
.home-newslater-input-btn{
    background-color: #0F62FE;
    padding: 15px 50px 15px 50px;
    font-weight: 300;
    color: white;
    border: 0.1px solid #29292946;
}

.home-FAQ-cards-title label{
    font-size: xx-large;
}
/* categorie chaimaa css code */


.content{
    grid-area: content;
    margin: 0;
    padding: 0;
}
.chaima-discover-secction1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;
    gap: 4rem;
    background-image: url(images/image\ 1.png);
    background-position: center;
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
    color: white;
   
}

.chaima-discover-text{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    gap: 5rem;
}
.chaima-discover-text h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}
.chaima-discover-section2{
    display: grid;
    grid-template-rows: repeat(3 ,1fr);
    gap: 4rem;
    padding: 3rem;
    text-align: center;
    color: black;
    background-color: rgb(251, 251, 251);
    height: 15rem;

}
.chaima-discover-section2 h2{
    font-size: 3rem;
    font-family: orditron", sans-serif;
}
.chaima-discover-section2 p{
    font-size: 1.5rem;
    margin: 0;
}
.chaima-discover-section3{
    display: grid;
    /* grid-template-rows: repeat(5,1fr);
    gap: 4rem; */
    text-align: center;
    background-color: black;
    color: white;
    padding: 5rem;
}
.chaima-discover-section3 h3{
    font-size: 3rem;
    font-family: "Orbitron", sans-serif;
}
.chaima-discover-section3 p{
    font-size: 1.5rem;
    margin: 0;
}
.chaimaa-menu{
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    border-top: black 2px solid;
}
.chaimaa-menu ul{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 1.2rem;
}
.chaimaa-menu ul a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.chaimaa-menu ul a:hover{
    text-decoration: underline;}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.texte{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    height: 20rem;
}
.card a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-top: 4rem;
}
.card a:hover{
    text-decoration: underline;
    
}
.chaima-discover-section4{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 5rem;
    text-align: center;
    color: rgb(253, 251, 251);
    background-image:url(images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:7rem  ;
    height: 20rem;
    margin-bottom: 20rem;
}
.chaima-discover-section4 h1{
    font-size: 3rem;
}
.chaima-discover-section4 p{
    font-size: 1.5rem;
    margin: 0;
}
.chaima-discover-section4-btn{
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    justify-self: center;}



@media (max-width: 480px) {
    

  .chaima-discover-secction1 {
    margin: 0px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 90vh;
    padding: 5rem 2rem;
  }

  .chaima-discover-text {
    gap: 3rem;
    padding: 3rem;
    align-self: center;
  }

  .chaima-discover-text h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
  }
  .chaima-discover-text p{
    font-size: 2rem;
    margin: 0;
}
.chaima-discover-section2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    color: black;
    background-color: rgb(251, 251, 251);
    height: 50vh;
}
.texto h2{
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
}
.texto p{
    font-size: 2rem;
}
.chaima-discover-section3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;



}
.chaima-discover-section3 h3{
    font-family: "Orbitron", sans-serif;
}
.chaima-discover-section3 h2{
    font-size: 3rem;
    font-family: "Orbitron", sans-serif;
}
.chaima-discover-section3 p{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.chaima-discover-section3 img{
    width: 80%; 
    height:80%; 
    border-radius: 10px;  
}
.chaima-discover-section3 a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}
.chaima-discover-section4{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    color: rgb(253, 251, 251);
    background-image:url(images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:7rem  ;
    height: 30rem;
    margin-bottom: 20rem;
    font-family: 'Orbitron', sans-serif;
}
.chaima-discover-section4 h1{
    font-size: 3rem;}
.chaima-discover-section4 p{
    font-size: 2rem;
}
.chaima-discover-section4-btn{
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    justify-self: center;
   

}
.cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;

}

.chaimaa-menu{
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;
    border-top: black 2px solid;
}
.chaimaa-menu ul{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 1.2rem;
}
.chaimaa-menu ul a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.chaimaa-menu ul a:hover{
    text-decoration: underline;


}

}


/*end chaimaa css code */




.footer{
    margin: 0;
    grid-area: footer;
    /* height: 482px; */
}
.footer-container{
    background-color: aliceblue;
    padding: 7rem;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
}
.footer-container img{
    width: 350px;
}
.footer-cards a{
    text-decoration: none;
    color: #1f1f1f;
    font-size: larger;
}

@media (max-width: 768px) {

    /* Header css code */

    .header-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .header-menu{
        grid-auto-flow: row;
        height: 0;
        overflow: hidden;
        gap: 0;
    }
    .header-menu li{
        border-top: 1px solid #00000075;
        text-align: center;
        padding: 15px;
    }
    .header-logo{
        display: grid;
        grid-auto-flow: column;
        align-self: center;
        width: auto;
    }
    .header-menu a{
        font-weight: 600;
    }
    label.Sidebar{
        display: grid;
        font-size: xx-large;
        align-content: center;
        background-color: #06060600;
        color: #000000;
        border:none;
    }
    #header-right-btn-li {
        display: none;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .header-right-btn{
        display: none;
    }
    .header-right{
        justify-self: center;
        padding-top: 20px;
    }

    /* Home css code */

    .home-banner{
        grid-auto-flow: row;
        height: 780px;
    }
    .home-banner-content{
        width: 80%;
    }
    .home-CosmicExplore{
        display: grid; 
        grid-template-columns: 1fr;
        row-gap: 30px;
        grid-template-rows: repeat(3 , 1fr);
        justify-items: center;
        margin-top: 100px;
    }
    body{
        scroll-behavior: smooth;
    }
    .home-evenements-wide-cards{
        background-color: #000000;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2 ,1fr);
        
    }
    .home-evenements-wide-cards-img ,.home-evenements-wide-cards-img img{
        width: 500px;
        height: 400px;
    }
    .home-evenements-wide-cards-content{
        padding: 25px;
    }
    

    .home-evenements-small-cards{
        display: grid;
        grid-auto-flow: row;
        gap: 40px;
        padding-bottom: 50px;
    }
    .home-evenements-small-cards-content{
        background-color: white;
        padding: 35px;
        height: 400px;
        display: grid;
        align-items: center;
    }
    .home-evenements{
        justify-items: center;
        width: 500px;
        margin: 25px;
        margin-bottom: 0;
    }
    .home-evenements-container{
        width: 100%;
    }
    /* .home-evenements-wide-cards{
        background-color: #000000;
        display: grid;
        grid-template-rows: repeat(2 ,1fr);
        margin-bottom: 40px;
    } */
    .home-FAQ-cards{
        background-color: white;
        border: 0.2px solid #6d6d6d79;
        width: 500px;
        margin-bottom: 40px;
    }
    .home-FAQ-cards .Sidebar{
        width: 20px;
    }
    .home-FAQ-cards-title{
        display: grid;
        grid-template-columns: 1fr 40px;
        align-items: center;
        padding: 5px 0px 5px 25px;
    }
    .home-newslater{
        display: grid;
        grid-auto-flow: row;
        align-items: center;
        justify-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .home-newslater-input{
        display: grid;
        grid-auto-flow: row;
        justify-items: center;
        width: 400px;
    }
    .home-newslater-input-email{
        width: 100%;
        margin-bottom: 30px;
    }
    .home-newslater-input-btn{
        width: 100%;
    }


    .footer-container{
    grid-auto-flow: row;
    }
}
